# dependencies
/node_modules

# build
/dist

# environment variables
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# Coverage directory used by tools like istanbul
coverage

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache